@import url(./normalize.css);
@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Russo One', sans-serif;
  }

  .container {
    width: 90%;
    min-height: 100%;
    margin: 0 auto;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }

  .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* background-color: gold;*//* temporary color */
    /* box-shadow: 4px 6px 10px 0px #000; */
  }

  .header::before {
    content: "";
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 4px 6px 10px 0px #000;
    z-index: 1;
  }

  .header-logo {
    min-width: 20%;
    /* background-color: mediumspringgreen; *//* temporary color */
    z-index: 2;
  }

  /* -- hamburger-menu -- */
  .hamburger-menu {
    /* display: block; */
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #fff;
    /* border: 1px solid #000; */
    z-index: 2;
  }

  .hamburger-menu span,
  .hamburger-menu span::before,
  .hamburger-menu span::after {
    position: absolute;
    height: 4px;
    background-color: #000;
  }

  .hamburger-menu span {
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hamburger-menu span::before,
  .hamburger-menu span::after {
    content: "";
    width: 100%;
    transition: transform 0.7s; /* animation duration, when hamburger button is clicked */
  }

  .hamburger-menu span::before {
    /* top: -300%; */
    transform: translateY(-300%);
  }

  .hamburger-menu span::after {
    /* top: 300%; */
    transform: translateY(300%);
  }

  .hamburger-menu.active span {
    /* display: none; */
    /* height: 0; */
    background-color: #fff;
  }

  .hamburger-menu.active span::before {
    transform: rotate(45deg);
  }

  .hamburger-menu.active span::after {
    transform: rotate(-45deg);
  }
/* -- hamburger-menu-ends -- */

  /* .header-menu {
    width: 50%;
  } */
  .header-menu {
    /* display: none; */
    position: fixed;
    top: -110%;
    left: 20px;
    right: 20px;
    bottom: 110%;
    /* background-color: skyblue; *//* temporary color */
    box-shadow: 4px 6px 10px 0px #000;
    /* z-index: 0; */
    /* transition-property: top, bottom;
    transition-duration: 0.7s;   */
    transition: top 0.7s, bottom 0.7s; /* animation duration for dropdown menu, when hamburger button is clicked */
  }

  .header-menu.active {
    top: 88px;
    bottom: 20px;    
  }

  .menu-list {
    list-style: none;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: stretch; */
    height: 100%;
    /* background-color: blanchedalmond; *//* temporary color */
  }
  
  .menu-item {
    display: block; /* to apply property "overflow" */
    overflow: hidden; /* to hide content overflow links on hover and transform */
    width: 100%;
    height: 100%;
    /* background-color: #fff; */
    /* outline: 1px solid blue; */
  }

  .header-logo > a,
  .menu-item > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
  }

  .header-logo > a {
    font-size: 25px;
  }

  /* .menu-item > a {
    font-size: 18px;
    white-space: nowrap;
  } */
  .menu-item > a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    /* width: 100%; */
    height: 100%;
    background-color: #fff;
    /* background-color: blue; *//* temporary color */
    /* transition-duration: 0.7s;
    transition-property: transform; */
    transition: transform 0.7s; /* animation duration for links of menu */
  }

  .menu-item > a:hover {
    /* font-size: 21px; */
    /* text-decoration: underline; */
    transform: scale(1.2); /* animation for links of menu */
    /* background: #cfd8dc; */
    background: #e0e0e0;
    /* background: #eeeeee; */
  }


  @media (min-width:600px) {
    .hamburger-menu {
      display: none;
    }

    .header-menu {
      position: static;
      width: 60%;
      box-shadow: none;
      z-index: 2;
    }

    .menu-list {
      flex-direction: row;
      /* justify-content: space-between; */
    }

    .menu-item {
      width: auto;
      overflow: visible;
    }

    .menu-item > a {
      /* border-bottom: 2px solid transparent; */
    }

    .menu-item > a:hover {
      /* border-bottom: 2px solid #000; */
      background: none;
    }
  }

  @media (min-width:900px) {
    .header-menu {
      width: 50%;
    }
  }